@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
body {
  background: #16151c;
  margin: 0;
  font-optical-sizing: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0px;
  padding: 0px;
}

.home {
  display: grid;
  grid-template-columns: minmax(410px, 500px) minmax(0, 1fr) minmax(284px, 360px);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
  grid-template-areas: "menu content image";
  color: #d4d2e0;
}

.menu {
  grid-area: menu;
  background: #27252f;
  position: relative;
  width: 500px;
  padding: 58px;
  z-index: 0;
}
.menu:before {
  position: absolute;
  content: "";
  background: #344670;
  width: 370px;
  height: 370px;
  filter: blur(200px);
  top: -130px;
  left: -225px;
  z-index: -1;
  pointer-events: none;
}

nav {
  margin-top: 24px;
  text-align: right;
}
nav .titre {
  font-family: inter;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}
nav .titre:before {
  font-family: "Font Awesome 7 Free";
  font-weight: 800;
  content: "\f101";
  margin-right: 14px;
  color: #5d719e;
}
nav .nav-links {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav a {
  padding: 10px 14px;
  background: #36343f;
  text-decoration: none;
  font-size: 16px;
  color: #d4d2e0;
  font-family: inter;
  font-weight: 500;
  border-radius: 4px;
}
nav a.active {
  background: #5d719e;
  display: flex;
  align-items: center;
}
nav a.active:before {
  font-family: "Font Awesome 7 Free";
  font-weight: 800;
  content: "\f111";
  margin-right: 10px;
  font-size: 6px;
  color: #27252f;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-end;
}
.top .profilePicture {
  width: 200px;
  height: 200px;
  border-radius: 999px;
  padding: 20px;
  border: 6px solid var(--brand-primary, #435581);
}

.name {
  font-family: "Playfair Display", serif;
  font-size: 84px;
  line-height: 70px;
  text-align: right;
}
.name .lise {
  font-weight: 700;
  color: #5d719e;
}
.name .eurelt {
  font-weight: 900;
}

.rank {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  background: rgb(28, 28, 30);
  padding: 8px;
  border-radius: 4px;
}

.menu .quote {
  position: relative;
  gap: 18px;
  font-family: "Source Serif 4", serif;
  font-size: 37px;
  text-align: right;
  display: flex;
}
.menu .quote:after {
  content: "";
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  background: url("../images/trait.png");
  opacity: 0.8;
}
.menu .quote p {
  margin-right: 28px;
  position: relative;
}
.menu .quote p:before, .menu .quote p:after {
  font-size: 120px;
  font-weight: 900;
  position: absolute;
  color: #16151c;
  pointer-events: none;
  z-index: -1;
}
.menu .quote p:before {
  content: "“";
  top: -26px;
  left: 45px;
}
.menu .quote p:after {
  content: "”";
  bottom: -66px;
  right: -18px;
}
.menu .quote p i {
  font-style: italic;
  font-weight: 600;
}
.menu .quote p b {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.menu .quote p b:before {
  position: absolute;
  top: 43%;
  bottom: auto;
  width: 100%;
  height: 11px;
  z-index: -1;
  background: #344670;
  border-radius: 4px;
  content: "";
}
.menu .quote u {
  position: relative;
  text-decoration: none;
}
.menu .quote u:before {
  background: url("../images/quote-red.png");
  content: "";
  width: 119px;
  height: 108px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 1;
  top: 11px;
}
.menu .quote u:after {
  content: "LIES";
  z-index: 2;
  position: absolute;
  top: 0px;
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  left: 28px;
  top: 3px;
}

.content {
  grid-area: content;
  padding: 58px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.content .quote {
  font-family: "Source Serif 4", serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
}
.content .quotes {
  text-align: right;
}
.content .quotes .quote-secondary {
  font-size: 38px;
}
.content .quotes .quote-secondary b {
  color: #5d719e;
}
.content .image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 0;
}
.content .image-gallery img {
  width: 100%;
  height: 113px;
  object-fit: cover;
  border-radius: 6px;
}
.content .quote-blue b {
  color: #5d719e;
}
.content .quote-red b {
  color: #d40c02;
}
.content .lore-text {
  font-family: inter;
  font-size: 18px;
  padding: 12px 0px;
}
.content .lore-text .underline {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.content .lore-text .underline:before {
  position: absolute;
  top: 72%;
  bottom: auto;
  width: 100%;
  height: 4px;
  z-index: -1;
  background: #9e0000;
  border-radius: 4px;
  content: "";
}
.content .lore-text b {
  color: #475a85;
}
.content .lore-text i {
  opacity: 0.5;
}

.image {
  grid-area: image;
  background-image: url("../images/valentine.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 58px 58px 58px 0px;
  background-position: center;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}